<% provide(:title, "About") %>
<h1>IMB3 Web-Anwendungen Projekt: "EvaLect"</h1>
<p>
<ol>
  <li><strong>Aufgabe:</strong> Umsetzung der Anwendung mit gewählter Technologie demonstrieren</li>
  <li><strong>Projekt:</strong> Evaluation von Vorlesungen im Web</li>
  <li><strong>Technik:</strong> Ruby on Rails</li>
  <li><strong>Beteiligte:</strong> Michelle H. Tim H. Axel D. Torsten M.</li>
</ol>
</p>