<% provide(:title, "About") %>
<h1>IMB3 Web-Anwendungen Projekt: "EvaLect"</h1>
<p>
<ul>
  <BLOCKQUOTE>Aufgabe: Umsetzung der Anwendung mit gewählter Technologie demonstrieren</BLOCKQUOTE>
  <BLOCKQUOTE>Projekt: Evaluation von Vorlesungen im Web</BLOCKQUOTE>
  <BLOCKQUOTE>Technik: Ruby on Rails</BLOCKQUOTE>
  <BLOCKQUOTE>Authoren: Michelle H. Tim H. Axel D. Torsten M.</BLOCKQUOTE>
</ul>
</p>