<div class="row">

<h2>
  Evaluationen zu folgenden Vorlesungen verfügbar:

</h2>
  <% if can_administer? %>
      <%= link_to "Neue Evaluation erstellen", new_question_group_path %>
  <% end %>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Vorlesungen:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>

</div>

