<footer class="footer">
  <small>
    <a href="https://morning-oasis-7374.herokuapp.com/">evaLect v1.0</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", main_app.about_path %></li>
      <li><a href="http://www.hs-mannheim.de/">HS-Mannheim</a></li>
    </ul>
  </nav>
</footer>